<div class="container main-container">
    <h1 class="h1">Firechat</h1>
    <div class="col-md-12 text-right" *ngIf="cs.usuarios.uid">
      <button type="button" class="btn btn-outline-danger"
        (click)="cs.logout()"
        >Salir
      </button>
    </div>
    <app-login *ngIf="!cs.usuarios.uid"></app-login>
    
    <div class="chat-window" *ngIf="cs.usuarios.uid">
      <app-chat></app-chat>
    </div>
    
</div>

<!-- <ul>
    <li class="text" *ngFor="let chat of chats | async">
      {{ chat | json }}
    </li>
  </ul> -->